<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3fhCzCbDSroQE0D8CP_wE18UeWRl87NA</string>
	<key>GCM_SENDER_ID</key>
	<string>69413909339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emoney</string>
	<key>PROJECT_ID</key>
	<string>emoney-fdf00</string>
	<key>STORAGE_BUCKET</key>
	<string>emoney-fdf00.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69413909339:ios:6cca5619bc9fd9ca69207e</string>
</dict>
</plist>